* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin: 2% auto;
}

.container {
    margin: 0 auto;
    width: min(80vh, 80%);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.square {
    flex: 1 1 0;
    border: 1px solid black;
    aspect-ratio: 1.0;
}